*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #def;
}

.video-container {
  position: relative;
  display: flex;
  background-color: #89d;
  padding: 1.8vw;
}

video-js {
  margin: 0 auto;
